* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

body {
  background-color: #9873fe;
}

.container {
  width: 90%;
  max-width: 25rem;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 2rem;
  border-radius: 0.8rem;
}

.app-details {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-icon {
  width: 9.37rem;
}

.app-title {
  font-size: 1.6rem;
  text-decoration: uppercase;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: 600;
}

input#amount {
  font-weight: 400;
  font-size: 1.2rem;
  display: block;
  width: 100%;
  border-bottom: 2px solid #02002c;
  color: #7a789d;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

input#amount:focus {
  color: #9873fe;
  border-color: #9873fe;
}

.dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

select {
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(/assets/arrow-down.svg);
  background-repeat: no-repeat;
  background-position: right 15px top 50%, center;
  background-size: 15px 15px;
  background-color: #9873fe;
  color: #ffffff;
}
select option {
  background-color: #ffffff;
  color: #02002c;
}

button {
  font: 1rem;
  width: 100%;
  background-color: #9873fe;
  padding: 1rem 0;
  margin-top: 2rem;
  border-radius: 0.3rem;
  color: #ffffff;
  font-weight: 600;
}

#result {
  font-size: 1.2em;
  text-align: center;
  margin-top: 1em;
  color: #02002c;
  background-color: #e5dbff;
  padding: 0.8em 0;
}
